name: Django Vercel Deployment

on:
  push:
    branches:
      - main

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django Checks
        run: |
          python manage.py check
          python manage.py makemigrations --check --dry-run
          python manage.py collectstatic --noinput

      - name: Deploy to Vercel (only if above steps succeed)
        uses: amondnet/vercel-action@v20
        with:
          # vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-token: "oflChlGQB1Wfzodmwi54EFVA"
          # vercel-org-id: ${{ secrets.ORG_ID }}
          vercel-org-id: "sujeets-projects-4d542c32"
          # vercel-project-id: ${{ secrets.PROJECT_ID }}
          vercel-project-id: "prj_LddacwGcF9kUpXsbO3waP3P1Lf7C"
          working-directory: ./
          github-token: ${{ secrets.GITHUB_TOKEN }}
